* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
  background: #f5f5f5;
  padding: 2rem;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

h1 {
  color: #0018a4;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.random-button-container {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.random-btn {
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  transition: all 0.2s;
  background: #ffc700;
  color: #ff4575;
  border: solid 2px transparent;
}

.random-btn:hover {
  background: #ffc700;
  color: #ff4575;
  border: #0018a4 solid 2px;
}

.hidden {
  display: none;
}

.random-button-container.hidden {
  display: none;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  text-align: center;
  display: none; /* Initially hidden */
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.filters-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.dropdown-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-dropdown .dropdown-btn {
  background: #ccffe2;
  color: #0018a4;
  border: solid 2px transparent;
  z-index: 2;
}

.filter-dropdown .dropdown-btn:hover {
  background: #ccffe2;
  color: #0018a4;
  border: #0018a4 solid 2px;
}

.filter-dropdown .dropdown-btn.active {
  background: #0018a4;
  color: #ffffff;
}

.sort-dropdown .dropdown-btn {
  background: #ffecea;
  color: #0018a4;
  border: solid 2px transparent;
  z-index: 2;
}

.sort-dropdown .dropdown-btn:hover {
  background: #ff6589;
  color: #ffffff;
  border: #0018a4 solid 2px;
}
.sort-dropdown .dropdown-btn.active {
  background: #ff6589;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 1rem;
}

.filter-group,
.sort-group {
  margin-bottom: 1rem;
}

.filter-group h3,
.sort-group h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #0018a4;
}

.filter-group label,
.sort-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.recipe-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: #e9e9e9 sold 2px;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #0018a4;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  padding: 12px;
}

.recipe-content {
  padding: 1.5rem;
}

.recipe-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

/* .divider {
  height: 2px;
  background: #ff6589;
  margin: 1rem 0;
  opacity: 0.3;
} */

.recipe-meta {
  font-size: 0.8rem;
  color: #666;
}

.recipe-card.hidden {
  display: none;
}

.ingredient-list-item {
  list-style: none;
}

.quota-message {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  display: block;
}

.quota-message.show {
  display: block;
  opacity: 1;
}

.reset-filters-btn {
  border: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  transition: all 0.2s;
  background: #ffc700;
  color: #ff4575;
  border: solid 2px transparent;
}

.reset-filters-btn:hover {
  background: #ffc700;
  color: #ff4575;
  border: #0018a4 solid 2px;
}

.recipes-grid.no-recipes-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  z-index: 1;
}

.no-recipes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px; /* or whatever height works in your layout */
  width: 100%;
  flex-direction: column;
}

p {
  padding: 1em 1em 1em 1em;
  font-size: 1em;
  line-height: 1.6;
}

.no-recipes img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.filter-btn.active {
  background: #0018a4;
  color: white;
}

.sort-btn.active {
  background: #ff6589;
  color: white;
}

@media (max-width: 480px) {
  .no-recipes {
    align-items: center;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .filters-container {
    /* flex-direction: column; */
  }

  .dropdown-content {
    position: static;
    display: none;
  }

  .dropdown-btn.active + .dropdown-content {
    display: block;
  }
}
